.TitleCard {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  align-self: center;
}

.MapGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}

@media screen and (max-width: 480px) {
  .MapGrid {
    grid-template-columns: repeat(auto-fit, minmax(100vw, 1fr));
  }  
}
