.MapIcon {
  padding: 1rem 1rem 0.5rem 1rem;
  display: grid;
  gap: 0.5rem;
}

.MapIcon > img {
  width: 100%;
  border: 1px solid var(--black);
}

.MapInfo {
  display: flex;
  align-items: space-between;
  justify-content: space-between;
}

.MapInfo > span {
  display: flex;
  align-items: center;
}

.Bubble {
  color: var(--white);
  font-size: 0.7rem;
  border-radius: 0.5rem;
  padding: 0.3rem 0.3rem;
  display: flex;
  gap: 0.25rem;
}

.Difficulty {
  background: var(--red);
}

.HighScore {
  background: var(--blue);
}

h3 {
  font-size: 1.4rem;
  justify-self: center;
}
