.Timer {
  color: var(--black);
  font-size: calc(0.5rem + 0.5vw);
  border: 1px solid var(--black);
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1.5rem;
  align-items: center;
}

.Timer > p {
  color: var(--white);
  background: var(--red);
  font-size: calc(0.5rem + 0.8vw);
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .Timer {
    font-size: calc(0.8rem + 0.5vw);
    grid-template-rows: auto 1fr;
    
  }

  .Timer > p {
    font-size: calc(0.5rem + 1vw);
    padding: 0.2rem 0;
  }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}
